.ProseMirror {
  min-height: 100%;
  outline: none;
  color: black;
}

.tiptap :first-child {
  margin-top: 0;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Floating menu */
.floating-menu {
  display: flex;
  background-color: #e5e7eb;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.floating-menu button {
  background: none;
  padding: 0.275rem 0.425rem;
  border-radius: 0.3rem;
}

.floating-menu button:hover {
  background-color: #d1d5db;
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

.control-group {
  color: black;
  font-size: medium;

  padding: 3px;
}

.control-group label {
  border: 2px red solid;
  padding: 3px;
  font-size: larger;
}
